.float-label {
  position: relative;
  margin-bottom: 12px;
}

.label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s ease all;
}

.label-float {
  top: 6px;
  font-size: 10px;
}
