@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./../public/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./../public/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('./../public/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Montserrat-Regular;
  --header-height: 3rem;
  --footer-height: 5rem;
}

@layer base {
  :root {
    --text: #0b0c0e;
    --background: #eff2f5;
    --primary: #2b4055;
    --secondary: #89b0d1;
    --accent: #2e6ba3;
  }
  .dark {
    --text: #f1f2f4;
    --background: #0a0d10;
    --primary: #aabfd4;
    --secondary: #2e5576;
    --accent: #5c98d1;
  }
}
